<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.littlebuddha.recruit.modules.mapper.forecast.TwoColorBallMapper">
    <sql id="operatorColumns">
        id AS "id",
        issue_Number AS "issueNumber",
        red_one AS "redOne",
        red_two AS "redTwo",
        red_three AS "redThree",
        red_four AS "redFour",
        red_five AS "redFive",
        red_six AS "redSix",
        blue AS "blue",
        happy_sunday AS "happySunday",
        bonus AS "bonus",
        number_of_first_prize AS "numberOfFirstPrize",
        bonus_of_first_prize AS "bonusOfFirstPrize",
        number_of_second_award AS "numberOfSecondAward",
        bonus_of_second_award AS "bonusOfSecondAward",
        total_bets AS "totalBets",
        draw_date AS "drawDate",
        create_by AS "createBy.id",
        create_date AS "createDate",
        update_by AS "updateBy.id",
        update_date AS "updateDate",
        remarks AS "remarks",
        del_flag AS "delFlag"
    </sql>

    <sql id="operatorJoins">
    </sql>

    <select id="get" resultType="com.littlebuddha.recruit.modules.entity.forecast.TwoColorBall">
        SELECT
        <include refid="operatorColumns"/>
        FROM recruit_forecast_two_color_ball
        WHERE id=#{id}
    </select>

    <select id="findList" resultType="com.littlebuddha.recruit.modules.entity.forecast.TwoColorBall">
        SELECT
        <include refid="operatorColumns"/>
        FROM recruit_forecast_two_color_ball a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <!-- 判断条件参数是否为空 -->
            <if test="issueNumber != null and issueNumber != ''">
                and a.issue_Number = #{issueNumber}
            </if>
            <if test="drawDate != null and drawDate != ''">
                and a.draw_date = #{drawDate}
            </if>
        </where>
        <choose>
            <when test="orderBy !=null and orderBy != ''">
                ORDER BY ${orderBy}
            </when>
            <otherwise>
                ORDER BY a.draw_date DESC
            </otherwise>
        </choose>
    </select>

    <select id="findRecoveryList" resultType="com.littlebuddha.recruit.modules.entity.forecast.TwoColorBall">
        SELECT
        <include refid="operatorColumns"/>
        FROM recruit_forecast_two_color_ball a
        <where>
            a.del_flag = #{DEL_FLAG_DELETE}
            <!-- 判断条件参数是否为空 -->
            <if test="issueNumber != null and issueNumber != ''">
                and a.issue_Number = #{issueNumber}
            </if>
            <if test="drawDate != null and drawDate != ''">
                and a.draw_date = #{drawDate}
            </if>
        </where>
        <choose>
            <when test="orderBy !=null and orderBy != ''">
                ORDER BY ${orderBy}
            </when>
            <otherwise>
                ORDER BY a.draw_date DESC
            </otherwise>
        </choose>
    </select>

    <select id="findAllList" resultType="com.littlebuddha.recruit.modules.entity.forecast.TwoColorBall">
        SELECT
        <include refid="operatorColumns"/>
        FROM recruit_forecast_two_color_ball a
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">

            </when>
            <otherwise>

            </otherwise>
        </choose>
    </select>

    <insert id="insert">
        INSERT INTO recruit_forecast_two_color_ball(
            id,
            issue_number,
            red_one,
            red_two,
            red_three,
            red_four,
            red_five,
            red_six,
            blue,
            happy_sunday,
            bonus,
            number_of_first_prize,
            bonus_of_first_prize,
            number_of_second_award,
            bonus_of_second_award,
            total_bets,
            draw_date,
            create_by,
            create_date,
            update_by,
            update_date,
            remarks,
            del_flag
        )VALUES (
            #{id},
            #{issueNumber},
            #{redOne},
            #{redTwo},
            #{redThree},
            #{redFour},
            #{redFive},
            #{redSix},
            #{blue},
            #{happySunday},
            #{bonus},
            #{numberOfFirstPrize},
            #{bonusOfFirstPrize},
            #{numberOfSecondAward},
            #{bonusOfSecondAward},
            #{totalBets},
            #{drawDate},
            #{createBy.id},
            #{createDate},
            #{updateBy.id},
            #{updateDate},
            #{remarks},
            #{delFlag}
        )
    </insert>

    <update id="update">
        UPDATE recruit_forecast_two_color_ball SET
            issue_number = #{issueNumber},
            red_one = #{redOne},
            red_two = #{redTwo},
            red_three = #{redThree},
            red_four = #{redFour},
            red_five = #{redFive},
            red_six = #{redSix},
            blue = #{blue},
            happy_sunday = #{happySunday},
            bonus = #{bonus},
            number_of_first_prize = #{numberOfFirstPrize},
            bonus_of_first_prize = #{bonusOfFirstPrize},
            number_of_second_award = #{numberOfSecondAward},
            bonus_of_second_award = #{bonusOfSecondAward},
            total_bets = #{totalBets},
            draw_date = #{drawDate},
            create_by = #{createBy.id},
            create_date = #{createDate},
            update_by = #{updateBy.id},
            update_date = #{updateDate},
            remarks = #{remarks},
            del_flag = #{delFlag}
        WHERE id=#{id}
    </update>

    <update id="deleteByLogic">
        UPDATE recruit_forecast_two_color_ball SET del_flag = #{DEL_FLAG_DELETE}
        WHERE id=#{id}
    </update>

    <update id="recovery">
        UPDATE recruit_forecast_two_color_ball SET del_flag = #{DEL_FLAG_NORMAL}
        WHERE id=#{id}
    </update>

    <delete id="deleteByPhysics">
        DELETE FROM recruit_forecast_two_color_ball
        WHERE id=#{id}
    </delete>
</mapper>