<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>药品管理</title>
    <script src="/recruit/plugins/jquery/jquery-3.3.1.min.js"></script>
    <!--引入工具js-->
    <script type="text/javascript" src="/recruit/utils/util.js"></script>
    <!--layui-->
    <link rel="stylesheet" href="/recruit/plugins/layui/lib/layui-v2.5.5/css/layui.css" media="all">
    <script src="/recruit/plugins/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script src="/recruit/plugins/layui/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
</head>
<body>
<div>
    <form class="layui-form" id="medicineForm">
        <input type="hidden" name="id" th:value="${medicine.getId()}">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-inline">
                    <input type="username" id="username" th:name="username" th:value="${medicine.getUsername()}"
                           placeholder="姓名" lay-verify="required|username" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                    <input type="password" id="password" th:name="password" th:value="${medicine.getPassword()}"
                           placeholder="密码" lay-verify="required|password" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-inline">
                    <input type="sex" id="sex" th:name="sex" th:value="${medicine.getSex()}"
                           placeholder="性别" lay-verify="required|sex" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">年龄</label>
                <div class="layui-input-inline">
                    <input type="age" id="age" th:name="age" th:value="${medicine.getAge()}"
                           placeholder="年龄" lay-verify="required|age" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">地址</label>
                <div class="layui-input-inline">
                    <input type="address" id="address" th:name="address" th:value="${medicine.getAddress()}"
                           placeholder="地址" lay-verify="required|address" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    //保存方法
    function save(parentIndex) {
        if ($("#username").val() == '') {
            rc.alert("名称不能为空")
        }
        if ($("#password").val() == '') {
            rc.alert("密码不能为空")
        }
        if ($("#username").val() != '' && $("#password").val() != '') {
            $.ajax({
                url: "/recruit/system/medicine/save",    //请求的url地址
                dataType: "json",   //返回格式为json
                async: true,//请求是否异步，默认为异步，这也是ajax重要特性
                data: $("#medicineForm").serialize(),    //参数值
                type: "POST",   //请求方式
                success: function (result) {
                    //假设这是iframe页
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭
                    parent.refresh();
                    rc.alert(result.msg)
                },
                error: function (result) {
                    rc.alert(result.msg)
                }
            });
        }
    }
</script>
</body>
</html>