<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.littlebuddha.recruit.modules.mapper.system.RecruitMapper">
    <sql id="recruitColumns">
        id AS "id",
        position AS "position",
        salary AS "salary",
        working_years AS "workingYears",
        qualifications AS "qualifications",
        employ_count AS "employCount",
        public_date AS "publicDate",
        company AS "company.id",
        address AS "address",
        job_information AS "jobInformation",
        create_by AS "createBy.id",
        create_date AS "createDate",
        update_by AS "updateBy.id",
        update_date AS "updateDate",
        remarks AS "remarks",
        del_flag AS "delFlag"
    </sql>

    <select id="get" resultType="com.littlebuddha.recruit.modules.entity.manager.Recruit">
        SELECT
        <include refid="recruitColumns"/>
        FROM recruit_information a
        WHERE id=#{id}
    </select>

    <select id="findList" resultType="com.littlebuddha.recruit.modules.entity.manager.Recruit">
        SELECT
        <include refid="recruitColumns"/>
        FROM recruit_information a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <!-- 判断条件参数是否为空 -->
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY a.create_date DESC
            </when>
            <otherwise>
                ORDER BY a.create_date DESC
            </otherwise>
        </choose>
    </select>

    <insert id="insert" parameterType="com.littlebuddha.recruit.modules.entity.manager.Recruit">
        INSERT INTO recruit_information(
            id,
            position,
            salary,
            working_years,
            qualifications,
            employ_count,
            public_date,
            company,
            address,
            job_information,
            create_by,
            create_date,
            update_by,
            update_date,
            remarks,
            del_flag
        )VALUES(
            #{id},
            #{position},
            #{salary},
            #{workingYears},
            #{qualifications},
            #{employCount},
            #{publicDate},
            #{company.id},
            #{company.address},
            #{company.jobInformation},
            #{createBy.id},
            #{createDate},
            #{updateBy.id},
            #{updateDate},
            #{remarks},
            #{delFlag}
        )
    </insert>

    <update id="update">
        UPDATE recruit_information SET
            position = #{position},
            salary = #{salary},
            working_years = #{workingYears},
            qualifications = #{qualifications},
            employ_count = #{employCount},
            public_date = #{publicDate},
            company = #{company.id},
            address = #{company.address},
            job_information = #{company.jobInformation},
            create_by = #{createBy.id},
            create_date = #{createDate},
            update_by = #{updateBy.id},
            update_date = #{updateDate},
            remarks = #{remarks},
            del_flag = #{delFlag}
    </update>

    <update id="deleteByLogic">
        UPDATE recruit_information SET del_flag = 1
        WHERE id=#{id}
    </update>

    <update id="recover">
        UPDATE recruit_information SET del_flag = 0
        WHERE id=#{id}
    </update>

    <delete id="deleteByPhysics">
        DELETE FROM recruit_information
        WHERE id=#{id}
    </delete>
</mapper>