<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.littlebuddha.recruit.modules.mapper.manager.RecruitMapper">
    <sql id="recruitColumns">
        id AS "id",
        position AS "position",
        salary AS "salary",
        working_years AS "workingYears",
        qualifications AS "qualifications",
        employ_count AS "employCount",
        public_date AS "publicDate",
        type AS "type",
        address AS "address",
        company AS "company.id",
        job_information AS "jobInformation",
        create_by AS "createBy.id",
        create_date AS "createDate",
        update_by AS "updateBy.id",
        update_date AS "updateDate",
        remarks AS "remarks",
        del_flag AS "delFlag"
    </sql>

    <select id="get" resultType="com.littlebuddha.recruit.modules.entity.manager.Recruit">
        SELECT
        <include refid="recruitColumns"/>
        FROM recruit_manager_recruit a
        WHERE id=#{id}
    </select>

    <select id="findList" resultType="com.littlebuddha.recruit.modules.entity.manager.Recruit">
        SELECT
        <include refid="recruitColumns"/>
        FROM recruit_manager_recruit a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <!-- 判断条件参数是否为空 -->
            <if test="position != null and position != ''">
                and a.position LIKE  CONCAT(CONCAT("%",#{position}),"%")
            </if>
            <if test="salary != null and salary != ''">
                and a.salary LIKE CONCAT(CONCAT("%",#{salary}),"%")
            </if>
            <if test="workingYears != null and workingYears != ''">
                and a.working_years LIKE CONCAT(CONCAT("%",#{workingYears}),"%")
            </if>
            <if test="qualifications != null and qualifications != ''">
                and a.qualifications LIKE CONCAT(CONCAT("%",#{qualifications}),"%")
            </if>
            <if test="employCount != null and employCount != ''">
                and a.employ_count LIKE CONCAT(CONCAT("%",#{employCount}),"%")
            </if>
            <if test="publicDate != null and publicDate != ''">
                and a.public_date LIKE CONCAT(CONCAT("%",#{publicDate}),"%")
            </if>
            <if test="type != null and type != ''">
                and a.type LIKE CONCAT(CONCAT("%",#{type}),"%")
            </if>
            <if test="address != null and address != ''">
                and a.address LIKE CONCAT(CONCAT("%",#{address}),"%")
            </if>
        </where>
        <choose>
            <when test="orderBy !=null and orderBy != ''">
                ORDER BY ${orderBy}
            </when>
            <otherwise>
                ORDER BY a.create_date DESC
            </otherwise>
        </choose>
    </select>

    <select id="findRecoveryList" resultType="com.littlebuddha.recruit.modules.entity.manager.Recruit">
        SELECT
        <include refid="recruitColumns"/>
        FROM recruit_manager_recruit a
        <where>
            a.del_flag = #{DEL_FLAG_DELETE}
            <!-- 判断条件参数是否为空 -->
            <if test="position != null and position != ''">
                and a.position LIKE  CONCAT(CONCAT("%",#{position}),"%")
            </if>
            <if test="salary != null and salary != ''">
                and a.salary LIKE CONCAT(CONCAT("%",#{salary}),"%")
            </if>
            <if test="workingYears != null and workingYears != ''">
                and a.working_years LIKE CONCAT(CONCAT("%",#{workingYears}),"%")
            </if>
            <if test="qualifications != null and qualifications != ''">
                and a.qualifications LIKE CONCAT(CONCAT("%",#{qualifications}),"%")
            </if>
            <if test="employCount != null and employCount != ''">
                and a.employ_count LIKE CONCAT(CONCAT("%",#{employCount}),"%")
            </if>
            <if test="publicDate != null and publicDate != ''">
                and a.public_date LIKE CONCAT(CONCAT("%",#{publicDate}),"%")
            </if>
            <if test="type != null and type != ''">
                and a.type LIKE CONCAT(CONCAT("%",#{type}),"%")
            </if>
            <if test="address != null and address != ''">
                and a.address LIKE CONCAT(CONCAT("%",#{address}),"%")
            </if>
        </where>
        <choose>
            <when test="orderBy !=null and orderBy != ''">
                ORDER BY ${orderBy}
            </when>
            <otherwise>
                ORDER BY a.create_date DESC
            </otherwise>
        </choose>
    </select>

    <insert id="insert" parameterType="com.littlebuddha.recruit.modules.entity.manager.Recruit">
        INSERT INTO recruit_manager_recruit(
            id,
            position,
            salary,
            working_years,
            qualifications,
            employ_count,
            public_date,
            type,
            address,
            company,
            job_information,
            create_by,
            create_date,
            update_by,
            update_date,
            remarks,
            del_flag
        )VALUES(
            #{id},
            #{position},
            #{salary},
            #{workingYears},
            #{qualifications},
            #{employCount},
            #{publicDate},
            #{type},
            #{address},
            #{company.id},
            #{jobInformation},
            #{createBy.id},
            #{createDate},
            #{updateBy.id},
            #{updateDate},
            #{remarks},
            #{delFlag}
        )
    </insert>

    <update id="update">
        UPDATE recruit_manager_recruit SET
            position = #{position},
            salary = #{salary},
            working_years = #{workingYears},
            qualifications = #{qualifications},
            employ_count = #{employCount},
            public_date = #{publicDate},
            type = #{type},
            address = #{address},
            company = #{company.id},
            job_information = #{jobInformation},
            create_by = #{createBy.id},
            create_date = #{createDate},
            update_by = #{updateBy.id},
            update_date = #{updateDate},
            remarks = #{remarks},
            del_flag = #{delFlag}
        WHERE id=#{id}
    </update>

    <update id="deleteByLogic">
        UPDATE recruit_manager_recruit SET del_flag = 1
        WHERE id=#{id}
    </update>

    <update id="recovery">
        UPDATE recruit_manager_recruit SET del_flag = 0
        WHERE id=#{id}
    </update>

    <delete id="deleteByPhysics">
        DELETE FROM recruit_manager_recruit
        WHERE id=#{id}
    </delete>
</mapper>