<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/recruit/bootstrap/css/bootstrap.min.css">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/recruit/bootstrap/css/bootstrap-theme.min.css">
    <script src="/recruit/plugins/jquery/jquery-3.3.1.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/recruit/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row col-xs-12 col-sm-12	col-md-12 col-lg-12">
        <form class="form-horizontal" col-xs-12 col-sm-12 col-md-12 col-lg-12 id="companyForm">
            <input type="hidden" name="id" th:value="${company.getId()}">
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="legalPerson" class="col-sm-4 control-label">法人代表</label>
                <div class="col-sm-8">
                    <input type="legalPerson" class="form-control" id="legalPerson" name="legalPerson"
                           th:value="${company.getLegalPerson()}" placeholder="法人代表">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="chineseName" class="col-sm-4 control-label">中文名称</label>
                <div class="col-sm-8">
                    <input type="chineseName" class="form-control" id="chineseName" name="chineseName"
                           th:value="${company.getChineseName()}" placeholder="中文名称">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="englishName" class="col-sm-4 control-label">英文名称</label>
                <div class="col-sm-8">
                    <input type="englishName" class="form-control" id="englishName" name="englishName"
                           th:value="${company.getEnglishName()}" placeholder="英文名称">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="companyName" class="col-sm-4 control-label">公司名称</label>
                <div class="col-sm-8">
                    <input type="companyName" class="form-control" id="companyName" name="companyName"
                           th:value="${company.getCompanyName()}" placeholder="公司名称">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="headquartersAddress" class="col-sm-4 control-label">总部地址</label>
                <div class="col-sm-8">
                    <input type="headquartersAddress" class="form-control" id="headquartersAddress" name="headquartersAddress"
                           th:value="${company.getHeadquartersAddress()}" placeholder="总部地址">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="establishDate" class="col-sm-4 control-label">成立日期</label>
                <div class="col-sm-8">
                    <input type="establishDate" class="form-control" id="establishDate" name="establishDate"
                           th:value="${company.getEstablishDate()}" placeholder="成立日期">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="phone" class="col-sm-4 control-label">联系电话</label>
                <div class="col-sm-8">
                    <input type="phone" class="form-control" id="phone" name="phone"
                           th:value="${company.getPhone()}" placeholder="联系电话">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="introduction" class="col-sm-4 control-label">介绍</label>
                <div class="col-sm-8">
                    <input type="introduction" class="form-control" id="introduction" name="introduction"
                           th:value="${company.getIntroduction()}" placeholder="介绍">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="ranging" class="col-sm-4 control-label">经营范围</label>
                <div class="col-sm-8">
                    <input type="ranging" class="form-control" id="ranging" name="ranging"
                           th:value="${company.getRanging()}" placeholder="经营范围">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="nature" class="col-sm-4 control-label">公司性质</label>
                <div class="col-sm-8">
                    <input type="nature" class="form-control" id="nature" name="nature"
                           th:value="${company.getNature()}" placeholder="公司性质">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="registeredCapital" class="col-sm-4 control-label">注册资本</label>
                <div class="col-sm-8">
                    <input type="registeredCapital" class="form-control" id="registeredCapital" name="registeredCapital"
                           th:value="${company.getRegisteredCapital()}" placeholder="注册资本">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="scale" class="col-sm-4 control-label">规模</label>
                <div class="col-sm-8">
                    <input type="scale" class="form-control" id="scale" name="scale"
                           th:value="${company.getScale()}" placeholder="规模">
                </div>
            </div>
            <div class="form-group" th:if="${'add' == mode || 'edit' == mode}">
                <div class="col-sm-3">
                    <button type="button" class="btn btn-default" id="submitButton">提交</button>
                    <button type="button" class="btn btn-default" id="cancelButton">取消</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    //提交按钮
    $("#submitButton").click(function () {
        $.ajax({
            url: "/recruit/manager/company/save",    //请求的url地址
            dataType: "json",   //返回格式为json
            async: true,//请求是否异步，默认为异步，这也是ajax重要特性
            data: $("#companyForm").serialize(),    //参数值
            type: "POST",   //请求方式
            success: function (result) {
                //请求成功时处理
                alert(result.msg)
                //关闭当前小窗口
                window.close();
                //刷新整个父窗口
                window.opener.refresh();
            }
        });
    });
    //取消按钮
    $("#cancelButton").click(function () {
        window.close();
    });
</script>
</body>
</html>