<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.littlebuddha.recruit.modules.mapper.system.OperatorMapper">
    <sql id="operatorColumns">
        id AS "id",
        username AS "username",
        password AS "password",
        salt AS "salt",
        sex AS "sex",
        age AS "age",
        address AS "address",
        phone AS "phone",
        resume AS "resume.id",
        create_by AS "createBy.id",
        create_date AS "createDate",
        update_by AS "updateBy.id",
        update_date AS "updateDate",
        remarks AS "remarks",
        del_flag AS "delFlag"
    </sql>

    <sql id="operatorJoins">
        LEFT JOIN recruit_operator_role b ON a.id=b.operator_id
        LEFT JOIN recruit_system_role c ON b.role_id=c.id
    </sql>

    <select id="get" resultType="com.littlebuddha.recruit.modules.entity.system.Operator">
        SELECT
        <include refid="operatorColumns"/>
        FROM recruit_system_operator
        WHERE id=#{id}
    </select>

    <select id="getOperatorByName" resultType="com.littlebuddha.recruit.modules.entity.system.Operator">
        SELECT
        <include refid="operatorColumns"/>
        FROM recruit_system_operator
        WHERE username=#{username}
    </select>

    <resultMap id="operatorRolesMap" type="com.littlebuddha.recruit.modules.entity.system.Operator">
        <id column="aid" property="id"/>
        <result column="ausername" property="username"/>
        <collection property="roles" javaType="list" ofType="com.littlebuddha.recruit.modules.entity.system.Role">
            <id column="cid" property="id"/>
            <result column="cEnglishName" property="englishName"/>
        </collection>
    </resultMap>
    
    <select id="getRolesByOperator" parameterType="com.littlebuddha.recruit.modules.entity.system.Operator" resultMap="operatorRolesMap">
        SELECT a.id 'aid',a.username 'ausername',c.id 'cid',c.english_name 'cEnglishName' FROM recruit_system_operator a
        <include refid="operatorJoins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <!-- 判断条件参数是否为空 -->
            <if test="id != null and id != ''">
                and a.id = #{id}
            </if>
        </where>
    </select>

    <select id="findList" resultType="com.littlebuddha.recruit.modules.entity.system.Operator">
        SELECT
        <include refid="operatorColumns"/>
        FROM recruit_system_operator a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <!-- 判断条件参数是否为空 -->
            <if test="username != null and username != ''">
                and a.username = #{username}
            </if>
            <if test="sex != null and sex != ''">
                and a.sex = #{sex}
            </if>
            <if test="age != null and age != ''">
                and a.age = #{age}
            </if>
            <if test="address != null and address != ''">
                and a.address = #{address}
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">

            </when>
            <otherwise>

            </otherwise>
        </choose>
    </select>

    <select id="findAllList" resultType="com.littlebuddha.recruit.modules.entity.system.Operator">
        SELECT
        <include refid="operatorColumns"/>
        FROM recruit_system_operator a
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">

            </when>
            <otherwise>

            </otherwise>
        </choose>
    </select>

    <insert id="insert">
        INSERT INTO recruit_system_operator(
            id,
            username,
            password,
            salt,
            sex,
            age,
            address,
            phone,
            resume,
            create_by,
            create_date,
            update_by,
            update_date,
            remarks,
            del_flag
        )VALUES (
            #{id},
            #{username},
            #{password},
            #{salt},
            #{sex},
            #{age},
            #{address},
            #{phone},
            #{resume.id},
            #{createBy.id},
            #{createDate},
            #{updateBy.id},
            #{updateDate},
            #{remarks},
            #{delFlag}
        )
    </insert>

    <update id="update">
        UPDATE recruit_system_operator SET
            username = #{username},
            password = #{password},
            salt = #{salt},
            sex = #{sex},
            age = #{age},
            address = #{address},
            phone = #{phone},
            resume = #{resume.id},
            create_by = #{createBy.id},
            create_date = #{createDate},
            update_by = #{updateBy.id},
            update_date = #{updateDate},
            remarks = #{remarks},
            del_flag = #{delFlag}
        WHERE id=#{id}
    </update>

    <update id="deleteByLogic">
        UPDATE recruit_system_operator SET del_flag = 1
        WHERE id=#{id}
    </update>

    <update id="recover">
        UPDATE recruit_system_operator SET del_flag = 0
        WHERE id=#{id}
    </update>

    <delete id="deleteByPhysics">
        DELETE FROM recruit_system_operator
        WHERE id=#{id}
    </delete>
</mapper>