<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.littlebuddha.recruit.modules.mapper.system.RoleMapper">
    <sql id="roleColumns">
        id AS "id",
        name AS "name",
        english_name AS "englishName",
        create_by AS "createBy.id",
        create_date AS "createDate",
        update_by AS "updateBy.id",
        update_date AS "updateDate",
        remarks AS "remarks",
        del_flag AS "delFlag"
    </sql>

    <sql id="roleJoins">
        LEFT JOIN recruit_operator_role b ON a.id=b.operator_id
        LEFT JOIN recruit_system_role c ON b.role_id=c.id
    </sql>

    <select id="get" resultType="com.littlebuddha.recruit.modules.entity.system.Role">
        SELECT
        <include refid="roleColumns"/>
        FROM recruit_system_role
        WHERE id=#{id}
    </select>

    <select id="findList" resultType="com.littlebuddha.recruit.modules.entity.system.Role">
        SELECT
        <include refid="roleColumns"/>
        FROM recruit_system_role a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <!-- 判断条件参数是否为空 -->
            <if test="name != null and name != ''">
                and a.name = #{name}
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">

            </when>
            <otherwise>

            </otherwise>
        </choose>
    </select>

    <select id="findAllList" resultType="com.littlebuddha.recruit.modules.entity.system.Role">
        SELECT
        <include refid="roleColumns"/>
        FROM recruit_system_role a
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">

            </when>
            <otherwise>

            </otherwise>
        </choose>
    </select>

    <insert id="insert">
        INSERT INTO recruit_system_role(
            id,
            name,
            english_name,
            create_by,
            create_date,
            update_by,
            update_date,
            remarks,
            del_flag
        )VALUES (
            #{id},
            #{name},
            #{englishName},
            #{createBy.id},
            #{createDate},
            #{updateBy.id},
            #{updateDate},
            #{remarks},
            #{delFlag}
        )
    </insert>

    <update id="update">
        UPDATE recruit_system_role SET
            name = #{name},
            english_name = #{englishName},
            create_by = #{createBy.id},
            create_date = #{createDate},
            update_by = #{updateBy.id},
            update_date = #{updateDate},
            remarks = #{remarks},
            del_flag = #{delFlag}
        WHERE id=#{id}
    </update>

    <update id="deleteByLogic">
        UPDATE recruit_system_role SET del_flag = 1
        WHERE id=#{id}
    </update>

    <update id="recover">
        UPDATE recruit_system_role SET del_flag = 0
        WHERE id=#{id}
    </update>

    <delete id="deleteByPhysics">
        DELETE FROM recruit_system_role
        WHERE id=#{id}
    </delete>
</mapper>