<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.littlebuddha.recruit.modules.mapper.system.RoleMenuMapper">
    <sql id="roleColumns">
        id AS "id",
        role_id AS "role.id",
        menu_id AS "menu.id"
    </sql>

    <sql id="roleJoins">
    </sql>

    <select id="get" resultType="com.littlebuddha.recruit.modules.entity.system.RoleMenu">
        SELECT
        <include refid="roleColumns"/>
        FROM recruit_role_menu
        WHERE id=#{id}
    </select>

    <select id="findList" resultType="com.littlebuddha.recruit.modules.entity.system.RoleMenu">
        SELECT
        <include refid="roleColumns"/>
        FROM recruit_role_menu a
        <where>

        </where>
        <choose>
            <when test="">

            </when>
            <otherwise>

            </otherwise>
        </choose>
    </select>

    <select id="findRecoveryList" resultType="com.littlebuddha.recruit.modules.entity.system.RoleMenu">
        SELECT
        <include refid="roleColumns"/>
        FROM recruit_role_menu a
        <where>

        </where>
        <choose>
            <when test="">

            </when>
            <otherwise>

            </otherwise>
        </choose>
    </select>

    <select id="findAllList" resultType="com.littlebuddha.recruit.modules.entity.system.RoleMenu">
        SELECT
        <include refid="roleColumns"/>
        FROM recruit_role_menu a
        <choose>
            <when test="">

            </when>
            <otherwise>

            </otherwise>
        </choose>
    </select>

    <insert id="insert">
        INSERT INTO recruit_role_menu(
            id,
            role_id,
            menu_id
        )VALUES (
            #{id},
            #{role.id},
            #{menu.id}
        )
    </insert>

    <update id="update">
        UPDATE recruit_role_menu SET
            role_id = #{role.id},
            menu_id = #{menu.id},
        WHERE id=#{id}
    </update>
</mapper>