<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<body>
<!--导航条-->
<nav class="navbar navbar-default" th:fragment="navigation">
    <div class="container-fluid">
        <!-- 主页按钮 -->
        <div class="navbar-header" style="margin-left: 20%">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/recruit/portal/list">主页</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" th:if="${showNavSearch != null}">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索">
                </div>
                <button type="button" class="btn btn-default" id="navSearch">搜索职位</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <shiro:hasAnyRoles name="admin,manager">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">数据恢复与备份<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/system/operator/recoveryList}">管理员恢复</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a th:href="@{/system/role/recoveryList}">角色信息恢复</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a th:href="@{/system/menu/recoveryList}">菜单信息恢复</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a th:href="@{/manager/recruit/recoveryList}">招聘信息恢复</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a th:href="@{/manager/receivedResume/recoveryList}">招聘通知恢复</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a th:href="@{/manager/company/recoveryList}">招聘公司恢复</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a th:href="@{/manager/resume/recoveryList}">简历信息恢复</a></li>
                        </ul>
                    </li>
                </shiro:hasAnyRoles>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">系统设置<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/system/operator/list}">管理管理员</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/system/role/list}">角色管理</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/system/menu/list}">菜单管理</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">数据设置<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{#}">日志管理</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/manager/recruit/list}">发布招聘</a></li>
                        <li role="separator" class="divider"></li>
                        <shiro:hasRole name="company">
                            <li><a th:href="@{/manager/receivedResume/list}">招聘通知管理 <span class="badge">4</span></a></li>
                        </shiro:hasRole>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/manager/company/list}">招聘公司管理</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/manager/resume/list}">简历管理</a></li>
                    </ul>
                </li>
                <li class="dropdown" th:if="${session.currentUser != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><span th:text="${session.currentUser.getUsername()}"></span><span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <shiro:hasRole name="user">
                            <li th:if="${session.currentUser != null}"><a th:href="@{/manager/resume/detail}">我的简历</a>
                            </li>
                        </shiro:hasRole>
                        <li th:if="${session.currentUser != null}"><a th:href="@{'/system/operator/setting?id=' + ${session.currentUser.getId()}}">个人设置</a></li>
                        <li th:if="${session.currentUser != null}" role="separator" class="divider"></li>
                        <li th:if="${session.currentUser != null}"><a href="#" id="logout">退出登录</a></li>
                    </ul>
                </li>
                <li class="dropdown" th:if="${session.currentUser == null}">
                    <a href="/recruit/system/loginPage" role="button" aria-haspopup="true" aria-expanded="false">请登录</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
</body>
</html>