<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>招聘恢复管理</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/recruit/bootstrap/css/bootstrap.min.css">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/recruit/bootstrap/css/bootstrap-theme.min.css">
    <!-- 引入bootstrap-table样式 -->
    <link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">
    <!--引入jquery-->
    <script src="/recruit/plugins/jquery/jquery-3.3.1.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/recruit/bootstrap/js/bootstrap.min.js"></script>
    <!-- bootstrap-table.min.js -->
    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <!-- 引入中文语言包 -->
    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
    <!--引入工具js-->
    <script type="text/javascript" src="/recruit/utils/util.js"></script>
    <!--引入本html的js文件-->
    <script type="text/javascript" src="/recruit/modules/recovery/recruitRecovery.js"></script>
</head>
<body>
<!--导航条-->
<div th:insert="modules/common/navbar :: navigation"></div>
<!--表格显示区域-->
<div class="container">
    <div class="row col-xs-12 col-sm-12	col-md-12 col-lg-12">
        <!--查询-->
        <form class="form-horizontal collapse" col-xs-12 col-sm-12 col-md-12 col-lg-12 id="recruitSearchForm">
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="position" class="col-sm-4 control-label">招聘职位</label>
                <div class="col-sm-8">
                    <input type="position" class="form-control" id="position" name="position"
                           th:value="${recruit.getPosition()}" placeholder="招聘职位">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="salary" class="col-sm-4 control-label">薪资</label>
                <div class="col-sm-8">
                    <input type="salary" class="form-control" id="salary" name="salary"
                           th:value="${recruit.getSalary()}" placeholder="薪资">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="workingYears" class="col-sm-4 control-label">工作年限</label>
                <div class="col-sm-8">
                    <input type="workingYears" class="form-control" id="workingYears" name="workingYears"
                           th:value="${recruit.getWorkingYears()}" placeholder="工作年限">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="qualifications" class="col-sm-4 control-label">学历</label>
                <div class="col-sm-8">
                    <input type="qualifications" class="form-control" id="qualifications" name="qualifications"
                           th:value="${recruit.getQualifications()}" placeholder="学历">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="employCount" class="col-sm-4 control-label">招聘人数</label>
                <div class="col-sm-8">
                    <input type="employCount" class="form-control" id="employCount" name="employCount"
                           th:value="${recruit.getEmployCount()}" placeholder="招聘人数">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="publicDate" class="col-sm-4 control-label">发布日期</label>
                <div class="col-sm-8">
                    <input type="publicDate" class="form-control" id="publicDate" name="publicDate"
                           th:value="${recruit.getPublicDate()}" placeholder="发布日期">
                </div>
            </div>
            <!--<div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="company.id" class="col-sm-4 control-label">公司</label>
                <div class="col-sm-8">
                    <input type="company.id" class="form-control" id="company.id" name="company.id"
                           th:value="${recruit.getCompany().getId()}" placeholder="公司">
                </div>
            </div>-->
            <div class="form-group">
                <div class="col-sm-3">
                    <button type="button" class="btn btn-default" th:id="search">查询</button>
                    <button type="button" class="btn btn-default" th:id="reset">重置</button>
                </div>
            </div>
        </form>
        <!--左上角工具栏-->
        <div id="toolbar">
            <shiro:hasRole name="admin">
                <button id="add" class="btn btn-primary" onclick="add()">
                    <i class="glyphicon glyphicon-plus"></i> 新建
                </button>
            </shiro:hasRole>
            <shiro:hasRole name="admin">
                <button id="edit" class="btn btn-success" onclick="edit()">
                    <i class="glyphicon glyphicon-edit"></i> 编辑
                </button>
            </shiro:hasRole>
            <shiro:hasRole name="admin">
                <button id="view" class="btn btn-default" onclick="view()">
                    <i class="fa fa-search-plus"></i> 查看
                </button>
            </shiro:hasRole>
            <shiro:hasRole name="admin">
                <button id="remove" class="btn btn-danger" onclick="del()">
                    <i class="glyphicon glyphicon-remove"></i> 删除
                </button>
            </shiro:hasRole>
            <shiro:hasPermission name="admin">
                <button id="btnImport" class="btn btn-info" onclick="importFile()">
                    <i class="fa fa-folder-open-o"></i> 导入
                </button>
            </shiro:hasPermission>
            <shiro:hasPermission name="admin">
                <button id="export" class="btn btn-warning" onclick="exportFile()">
                    <i class="fa fa-file-excel-o"></i> 导出
                </button>
            </shiro:hasPermission>
        </div>
        <!--搜索下拉搜寻表单按钮--隐藏状态-->
        <div id="toolButton" class="collapse">
            <button type="button" id="searchButton" class="btn btn-default" onclick="showSearchButton()">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
        </div>
        <!--表格区域-->
        <table id="recruitTable" style="white-space:nowrap"></table>
    </div>
</div>

<!--退出按钮退出方法-->
<script type="application/javascript">
    $("#logout").click(function () {
        $.ajax({
            url: "/recruit/system/logout",    //请求的url地址
            dataType: "json",   //返回格式为json
            async: true,//请求是否异步，默认为异步，这也是ajax重要特性
            data: "",    //参数值
            type: "POST",   //请求方式
            success: function (result) {
                //请求成功时处理
                if ("退出成功" == result.msg) {
                    alert(result.msg)
                    setTimeout(function () {
                        window.location.href = '/recruit/system/loginPage';
                    }, 2000);
                }
            }
        })
    })
</script>
</body>
</html>