<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>菜单管理</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/recruit/bootstrap/css/bootstrap.min.css">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/recruit/bootstrap/css/bootstrap-theme.min.css">
    <!-- 引入bootstrap-table样式 -->
    <link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">
    <!--引入jquery-->
    <script src="/recruit/plugins/jquery/jquery-3.3.1.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/recruit/bootstrap/js/bootstrap.min.js"></script>
    <!-- bootstrap-table.min.js -->
    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <!-- 引入中文语言包 -->
    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
    <!--引入工具js-->
    <script type="text/javascript" src="/recruit/utils/util.js"></script>
    <!--引入本html的js文件-->
    <script type="text/javascript" src="/recruit/modules/system/menu.js"></script>
    <!--layui-->
    <link rel="stylesheet" href="/recruit/plugins/layui/lib/layui-v2.5.5/css/layui.css" media="all">
    <script src="/recruit/plugins/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script src="/recruit/plugins/layui/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
</head>
<body>
<!--表格显示区域-->
<div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row col-xs-12 col-sm-12	col-md-12 col-lg-12">

        <!--左上角工具栏-->
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-group">
                <shiro:hasRole name="admin">
                    <button class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon">&#xe654;</i>新增</button>
                </shiro:hasRole>
                <shiro:hasRole name="admin">
                    <button class="layui-btn layui-btn-sm" lay-event="edit"><i class="layui-icon">&#xe642;</i>修改
                    </button>
                </shiro:hasRole>
                <shiro:hasRole name="admin">
                    <button class="layui-btn layui-btn-sm" lay-event="delete"><i class="layui-icon">&#xe640;</i>删除
                    </button>
                </shiro:hasRole>
                <shiro:hasRole name="admin">
                    <button class="layui-btn layui-btn-sm" lay-event="refresh"><i class="layui-icon">&#xe666;</i>刷新
                    </button>
                </shiro:hasRole>
            </div>
        </script>

        <!--表格区域-->
        <table class="layui-table" id="menuTable" lay-filter="menuTable" style="white-space:nowrap"></table>

        <!-- 操作列 -->
        <script type="text/html" id="auth-state">
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="addChildren">添加下级菜单</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
    </div>
</div>
</body>
</html>