<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/recruit/bootstrap/css/bootstrap.min.css">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/recruit/bootstrap/css/bootstrap-theme.min.css">
    <script src="/recruit/plugins/jquery/jquery-3.3.1.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/recruit/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row col-xs-12 col-sm-12	col-md-12 col-lg-12">
        <form class="form-horizontal" col-xs-12 col-sm-12 col-md-12 col-lg-12 id="menuForm">
            <input type="hidden" name="id" th:value="${menu.getId()}">
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="" class="col-sm-4 control-label">上级菜单</label>
                <div class="col-sm-8" th:if="${'add' == mode || 'edit' == mode}">
                    <select class="form-control" name="parent.id" id="parent.id">
                        <option>请选择</option>
                        <option th:each="menu:${allList}" th:value="${menu.getId()}" th:text="${menu.getTitle()}"></option>
                    </select>
                </div>
                <div class="col-sm-8" th:if="${'view' == mode}">
                    <select class="form-control" name="parent.id" id="parent.id">
                        <option th:value="${menu.getParent().getId()}" th:text="${menu.getParent().getTitle()}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="title" class="col-sm-4 control-label">菜单名</label>
                <div class="col-sm-8">
                    <input type="title" class="form-control" id="title" name="title"
                           th:value="${menu.getTitle()}" placeholder="菜单名">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="href" class="col-sm-4 control-label">链接</label>
                <div class="col-sm-8">
                    <input type="href" class="form-control" id="href" name="href" th:value="${menu.getHref()}"
                           placeholder="链接">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="target" class="col-sm-4 control-label">目标</label>
                <div class="col-sm-8">
                    <input type="target" class="form-control" id="target" name="target" th:value="${menu.getTarget()}"
                           placeholder="目标">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="icon" class="col-sm-4 control-label">图标</label>
                <div class="col-sm-8">
                    <input type="icon" class="form-control" id="icon" name="icon"
                           th:value="${menu.getIcon()}" placeholder="图标">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="isShow" class="col-sm-4 control-label">是否显示</label>
                <div class="col-sm-8">
                    <input type="isShow" class="form-control" id="isShow" name="isShow"
                           th:value="${menu.getIsShow()}" placeholder="是否显示">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="type" class="col-sm-4 control-label">类型</label>
                <div class="col-sm-8">
                    <input type="type" class="form-control" id="type" name="type"
                           th:value="${menu.getType()}" placeholder="类型">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="permission" class="col-sm-4 control-label">权限标识</label>
                <div class="col-sm-8">
                    <input type="permission" class="form-control" id="permission" name="permission"
                           th:value="${menu.getPermission()}" placeholder="权限标识">
                </div>
            </div>
            <div class="form-group" th:if="${'add' == mode || 'edit' == mode}">
                <div class="col-sm-4">
                    <button type="button" class="btn btn-default" id="submitButton">提交</button>
                    <button type="button" class="btn btn-default" id="cancelButton">取消</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    //提交按钮
    $("#submitButton").click(function () {
        $.ajax({
            url: "/recruit/system/menu/save",    //请求的url地址
            dataType: "json",   //返回格式为json
            async: true,//请求是否异步，默认为异步，这也是ajax重要特性
            data: $("#menuForm").serialize(),    //参数值
            type: "POST",   //请求方式
            success: function (result) {
                //请求成功时处理
                alert(result.msg)
                window.close();
                //刷新整个父窗口
                window.opener.refresh();
            }
        });
    });
    //取消按钮
    $("#cancelButton").click(function () {
        window.close();
    });
</script>
</body>
</html>