<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>用户列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/recruit/plugins/layui/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/recruit/plugins/layui/css/public.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" id="searchForm">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">用户姓名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="username" th:value="${operator.getUsername()}"
                                       th:id="username" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">用户性别</label>
                            <div class="layui-input-inline">
                                <input type="text" name="sex" th:value="${operator.getSex()}" autocomplete="off"
                                       th:id="sex" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">用户年龄</label>
                            <div class="layui-input-inline">
                                <input type="text" name="age" th:value="${operator.getAge()}" autocomplete="off"
                                       th:id="age" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">用户住址</label>
                            <div class="layui-input-inline">
                                <input type="text" name="address" th:value="${operator.getAddress()}" autocomplete="off"
                                       th:id="address" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">用户电话</label>
                            <div class="layui-input-inline">
                                <input type="text" name="phone" th:value="${operator.getPhone()}" autocomplete="off"
                                       th:id="phone" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit
                                    lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolBar">
            <div class="layui-btn-container">
                <shiro:hasRole name="admin">
                    <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 新建</button>
                </shiro:hasRole>
                <shiro:hasRole name="admin">
                    <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="edit"> 编辑</button>
                </shiro:hasRole>
                <shiro:hasRole name="admin">
                    <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="view"> 查看</button>
                </shiro:hasRole>
                <shiro:hasRole name="admin">
                    <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除
                    </button>
                </shiro:hasRole>
                <shiro:hasRole name="admin">
                    <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="import"> 导入</button>
                </shiro:hasRole>
                <shiro:hasRole name="admin">
                    <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="export"> 导出</button>
                </shiro:hasRole>
            </div>
        </script>

        <table class="layui-hide" id="operatorTable" lay-filter="operatorTableFilter"></table>

        <script type="text/html" id="operation">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">设置角色</a>
        </script>

    </div>
</div>
<script src="/recruit/plugins/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<!--引入jquery-->
<script src="/recruit/plugins/jquery/jquery-3.3.1.min.js"></script>
<!--引入本html的js文件-->
<script type="text/javascript" src="/recruit/modules/system/operator.js"></script>
<!--引入工具js-->
<script type="text/javascript" src="/recruit/utils/util.js"></script>
</body>
</html>