<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>菜单管理</title>
    <!--引入jquery-->
    <script src="/recruit/plugins/jquery/jquery-3.3.1.min.js"></script>
    <!--引入工具js-->
    <script type="text/javascript" src="/recruit/utils/util.js"></script>
    <!--引入本html的js文件-->
    <script type="text/javascript" src="/recruit/modules/system/permissionPage.js"></script>
    <!--layui-->
    <link rel="stylesheet" href="/recruit/plugins/layui/lib/layui-v2.5.5/css/layui.css" media="all">
    <script src="/recruit/plugins/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script src="/recruit/plugins/layui/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
</head>
<body>
<!--表格显示区域-->
<div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row col-xs-12 col-sm-12	col-md-12 col-lg-12">

        <!--表格区域-->
        <table class="layui-table" id="menuTable" lay-filter="menuTable" style="white-space:nowrap"></table>

        <form id="hiddenForm">
            <input type="hidden" th:name="id" th:value="${role.getId()}">
            <input type="hidden" th:name="name" th:value="${role.getName()}">
            <input type="hidden" th:name="englishName" th:value="${role.getEnglishName()}">
            <input type="hidden" th:name="menusId" th:value="${menusId}" id="menusId">
        </form>
    </div>
</div>
</body>
</html>