<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>门户信息</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/recruit/bootstrap/css/bootstrap.min.css">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/recruit/bootstrap/css/bootstrap-theme.min.css">
    <script src="/recruit/plugins/jquery/jquery-3.3.1.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/recruit/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<!--导航条-->
<div th:insert="modules/common/navbar :: navigation"></div>
<!--招聘信息-->
<div class="container">
    <div class="row col-xs-12 col-sm-12	col-md-12 col-lg-12" th:each="recruit:${recruitList}">
        <a th:href="@{'/manager/recruit/detail?id='+${recruit.getId()}}">
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="/recruit/pictures/company/a.jpg"
                         style="width: 64px;height: 64px;">
                </div>
                <div class="media-body">
                    <div class="row col-xs-12 col-sm-12	col-md-12 col-lg-12">
                        <h4 class="media-heading" th:text="${recruit.getPosition()}"
                            style="width: 50%;float: left"></h4>
                        <h4 class="media-heading" th:text="${recruit.getSalary()}" style="width: 50%;float: left"></h4>
                    </div>
                    <div class="row col-xs-12 col-sm-12	col-md-12 col-lg-12">
                        <span th:text="${recruit.getJobInformation()}"></span>
                    </div>
                    <div class="row col-xs-12 col-sm-12	col-md-12 col-lg-12">
                        <span th:text="${recruit.getWorkingYears()}"></span>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<!--分页按钮-->
<div class="container">
    <div class="row col-xs-12 col-sm-12	col-md-12 col-lg-12">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<script type="text/javascript" src="/recruit/modules/common/navbar.js"></script>
</body>
</html>