<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>角色管理</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/recruit/bootstrap/css/bootstrap.min.css">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/recruit/bootstrap/css/bootstrap-theme.min.css">
    <script src="/recruit/plugins/jquery/jquery-3.3.1.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/recruit/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<!--导航条-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">查看用户信息</a></li>
                <li><a href="#">数据恢复与备份</a></li>
                <li><a href="#">管理管理员</a></li>
                <li><a href="#">日志管理</a></li>
                <li><a href="#">发布招聘</a></li>
                <li><a href="#">招聘通知管理</a></li>
                <li><a href="#">招聘报名</a></li>
                <li><a href="#">简历管理</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">登陆者姓名<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">我的简历</a></li>
                        <li><a href="#">个人设置</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a id="logout">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="row col-xs-12 col-sm-12	col-md-12 col-lg-12">
        <button type="button" class="btn btn-success">新建</button>
        <table class="table">
            <caption>角色管理表</caption>
            <thead>
            <tr>
                <th>名称</th>
                <th>英文名称</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="role,aaa:${list}">
                <td th:text="${role.name}">Tanmay</td>
                <td th:text="${role.englishName}">Bangalore</td>

                <td>
                    <button type="button" class="btn btn-info" id="edit" th:value="${role.id}">编辑</button>
                    <button type="button" class="btn btn-danger" id="delete" th:value="${role.id}">删除</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="application/javascript">
    $(document).ready(function () {

        $("#logout").click(function () {
            $.ajax({
                url: "/recruit/system/logout",    //请求的url地址
                dataType: "json",   //返回格式为json
                async: true,//请求是否异步，默认为异步，这也是ajax重要特性
                data: $("#register-form").serialize(),    //参数值
                type: "POST",   //请求方式
                success: function (result) {
                    //请求成功时处理
                    if ("退出成功" == result.msg) {
                        alert(result.msg)
                        setTimeout(function () {
                            window.location.href = '/recruit/system/loginPage';
                        }, 2000);
                    }
                },
                error: function () {
                    //请求出错处理
                    alert("请求出错")
                }
            })
        });

        //删除
        $("#delete").click(function () {
            let id = $("#delete").val();
            $.ajax({
                url: "/recruit/system/role/deleteByPhysics",    //请求的url地址
                dataType: "json",   //返回格式为json
                async: true,//请求是否异步，默认为异步，这也是ajax重要特性
                data: {"id": id},    //参数值
                type: "POST",   //请求方式
                success: function (result) {
                    //请求成功时处理
                    if ("删除成功" == result.msg) {
                        alert(result.msg)
                        //重新刷新当前页面
                        window.location.reload();
                    } else if ("未知错误，删除失败" == result.msg) {
                        alert(result.msg)
                    }
                },
                error: function () {
                    //请求出错处理
                }
            })
        });

        //编辑
        $("#edit").click(function () {
            window.open('/recruit/system/role/form/edit', "编辑角色信息", 'height=600, width=800, top=30%,left=30%, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no');
        });
    })
</script>
</body>
</html>