<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/recruit/bootstrap/css/bootstrap.min.css">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/recruit/bootstrap/css/bootstrap-theme.min.css">
    <script src="/recruit/plugins/jquery/jquery-3.3.1.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/recruit/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row col-xs-12 col-sm-12	col-md-12 col-lg-12">
        <form class="form-horizontal" col-xs-12 col-sm-12 col-md-12 col-lg-12 id="twoColorBallForm">
            <input type="hidden" name="id" th:value="${twoColorBall.getId()}">
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="title" class="col-sm-4 control-label">期号</label>
                <div class="col-sm-8">
                    <input type="title" class="form-control" id="title" name="title"
                           th:value="${twoColorBall.getIssueNumber()}" placeholder="期号">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="redOne" class="col-sm-4 control-label">一号红球</label>
                <div class="col-sm-8">
                    <input type="redOne" class="form-control" id="redOne" name="redOne"
                           th:value="${twoColorBall.getRedOne()}" placeholder="一号红球">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="redTwo" class="col-sm-4 control-label">二号红球</label>
                <div class="col-sm-8">
                    <input type="redTwo" class="form-control" id="redTwo" name="redTwo"
                           th:value="${twoColorBall.getRedTwo()}" placeholder="二号红球">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="redThree" class="col-sm-4 control-label">三号红球</label>
                <div class="col-sm-8">
                    <input type="redThree" class="form-control" id="redThree" name="redThree"
                           th:value="${twoColorBall.getRedThree()}" placeholder="三号红球">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="redFour" class="col-sm-4 control-label">四号红球</label>
                <div class="col-sm-8">
                    <input type="redFour" class="form-control" id="redFour" name="redFour"
                           th:value="${twoColorBall.getRedFour()}" placeholder="四号红球">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="redFive" class="col-sm-4 control-label">五号红球</label>
                <div class="col-sm-8">
                    <input type="redFive" class="form-control" id="redFive" name="redFive"
                           th:value="${twoColorBall.getRedFive()}" placeholder="五号红球">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="redSix" class="col-sm-4 control-label">六号红球</label>
                <div class="col-sm-8">
                    <input type="redSix" class="form-control" id="redSix" name="redSix"
                           th:value="${twoColorBall.getRedSix()}" placeholder="六号红球">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="blue" class="col-sm-4 control-label">蓝球</label>
                <div class="col-sm-8">
                    <input type="blue" class="form-control" id="blue" name="blue"
                           th:value="${twoColorBall.getBlue()}" placeholder="蓝球">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="happySunday" class="col-sm-4 control-label">欢乐星期天</label>
                <div class="col-sm-8">
                    <input type="happySunday" class="form-control" id="happySunday" name="happySunday"
                           th:value="${twoColorBall.getHappySunday()}" placeholder="欢乐星期天">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="bonus" class="col-sm-4 control-label">奖池奖金</label>
                <div class="col-sm-8">
                    <input type="bonus" class="form-control" id="bonus" name="bonus"
                           th:value="${twoColorBall.getBonus()}" placeholder="奖池奖金">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="numberOfFirstPrize" class="col-sm-4 control-label">一等奖数量</label>
                <div class="col-sm-8">
                    <input type="numberOfFirstPrize" class="form-control" id="numberOfFirstPrize" name="numberOfFirstPrize"
                           th:value="${twoColorBall.getNumberOfFirstPrize()}" placeholder="一等奖数量">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="bonusOfFirstPrize" class="col-sm-4 control-label">一等奖奖金</label>
                <div class="col-sm-8">
                    <input type="bonusOfFirstPrize" class="form-control" id="bonusOfFirstPrize" name="bonusOfFirstPrize"
                           th:value="${twoColorBall.getBonusOfFirstPrize()}" placeholder="一等奖奖金">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="numberOfSecondAward" class="col-sm-4 control-label">二等奖数量</label>
                <div class="col-sm-8">
                    <input type="numberOfSecondAward" class="form-control" id="numberOfSecondAward" name="numberOfSecondAward"
                           th:value="${twoColorBall.getNumberOfSecondAward()}" placeholder="二等奖数量">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="bonusOfSecondAward" class="col-sm-4 control-label">二等奖奖金</label>
                <div class="col-sm-8">
                    <input type="bonusOfSecondAward" class="form-control" id="bonusOfSecondAward" name="bonusOfSecondAward"
                           th:value="${twoColorBall.getBonusOfSecondAward()}" placeholder="二等奖奖金">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="totalBets" class="col-sm-4 control-label">总投注金额</label>
                <div class="col-sm-8">
                    <input type="totalBets" class="form-control" id="totalBets" name="totalBets"
                           th:value="${twoColorBall.getTotalBets()}" placeholder="总投注金额">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12	col-md-4 col-lg-4">
                <label for="drawDate" class="col-sm-4 control-label">开奖日期</label>
                <div class="col-sm-8">
                    <input type="drawDate" class="form-control" id="drawDate" name="drawDate"
                           th:value="${twoColorBall.getDrawDate()}"
                           placeholder="开奖日期">
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    //保存方法
    function save() {
        $.ajax({
            url: "/recruit/forecast/twoColorBall/save",    //请求的url地址
            dataType: "json",   //返回格式为json
            async: true,//请求是否异步，默认为异步，这也是ajax重要特性
            data: $("#twoColorBallForm").serialize(),    //参数值
            type: "POST",   //请求方式
            success: function (result) {
                //请求成功时处理
                //假设这是iframe页
                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                parent.layer.close(index); //再执行关闭//刷新整个父窗口
                window.opener.refresh();
            }
        });
    }
</script>
</body>
</html>